.flex-list {
    display: flex;
    flex-wrap: wrap;
}

.tile {
    display: flex;
    flex-direction: column;
    border: 2px solid darkgray;
    border-radius: 4px;
    padding: 15px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.tile span {
    width: 100%;
    margin-bottom: 5px;
}
